<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Post</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- head favicon -->
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/Halipsblog.png') }}"
      type="image/x-icon"
    />
  </head>
  <body>
    <!-- Part 1-->
    <div id="part1">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a href="#" class="navbar-brand">Halip's Blog</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarScroll"
            aria-controls="navbarScroll"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul
              class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
              style="--bs-scroll-height: 150px"
            >
              <li class="nav-item">
                <a class="nav-link active" href="/" aria-current="page">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about') }}">About</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="{{ url_for('addpost') }}"
                  tabindex="-1"
                  >Add</a
                >
              </li>
            </ul>
            <!-- add search button -->
            <form class="d-flex">
              <input
                placeholder="Type your text"
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </form>
          </div>
        </div>
      </nav>
    </div>

    <!-- part 2 -->
    <div id="part2">
      <div class="container mt-3">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <form
              name="addForm"
              id="addForm"
              method="POST"
              action="{{ url_for('addpost') }}"
              novalidate
            >
              <!-- form group title -->
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label>Title</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Title"
                    name="title"
                    id="title"
                    required
                    data-validation-required-message="Please enter a title"
                  />
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <!-- form group author -->
              <div class="control-group">
                <div
                  class="form-group col-xs-12 floating-label-form-group controls"
                >
                  <label>Author</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Author"
                    name="author"
                    id="author"
                    required
                    data-validation-required-message="Please enter your name"
                  />
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <!-- form group Blog Content -->
              <div class="control-group">
                <div
                  class="form-group col-xs-12 floating-label-form-group controls"
                >
                  <label>Blog Content</label>
                  <textarea
                    rows="5"
                    class="form-control"
                    name="content"
                    id="content"
                    placeholder="Put your blog content here"
                    required
                    data-validation-required-message="Please enter your message"
                  ></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="mb-3">
                <label for="formFileSm" class="form-label"
                  >Choose your Blog Thumbnail Image</label
                >
                <input
                  type="file"
                  class="form-control form-control-sm"
                  id="formFileSm"
                />
              </div>
              <div class="mt-2" id="success"></div>
              <div class="form-group">
                <button
                  type="submit"
                  class="btn btn-success"
                  id="sendMessageButton"
                >
                  Send
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div></div>

    <!-- Javascript bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!-- 
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> 
    -->
  </body>
</html>
